* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body {
  max-width: 1000px;
  margin: 50px auto;
  background-color: #f8f8f8;
}

.top {
  display: flex;
  box-shadow: 0px 0px 10px 8px #ddddddb2;
  border-radius: 4px;
  margin: 0 40px;
  box-sizing: content-box;
}

.top img {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  max-width: 55%;
}

.topInfo {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  max-width: 45%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 35px;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  color: #5b5bfa;
}

.topInfo p {
  font-size: 14px;
  padding: 20px 0;
  padding-right: 20%;
  color: #666666;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #ff7300;
}

.topInfo a:hover {
  text-decoration: underline;
}


.containerBottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  }

.Bottom {
  box-shadow: 0px 0px 10px 8px #ddddddb2;
  border-radius: 4px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 40px 40px;
  box-sizing: content-box;
  min-width: 250px;
}

.imageOne {
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.imageLogo {
  opacity: 0.6;
  border-radius: 3px;
  max-width: 40%;
  position: absolute;
  top: 106px;
  left: 80px;
}

.Bottom h3 {
  margin: 50px 0 80px;
  text-align: center;
}

.Bottom a {
  margin: 10px;
  text-align: center;
}


@media (max-width:768px) {

  .top {
    flex-wrap: wrap;
    justify-content: center;
  }

  .top img {
    max-width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0px;
  }

  .topInfo {
    max-width: 100%;
    padding: 30px 80px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .containerBottom {
    display: flex;
    overflow-x: scroll;
    margin: 0 30px;
  }

  .Bottom {
    min-width: 250px;
    margin: 40px 10px;
  }
  .Bottom0{
    border: transparent 1px solid;
     
  }
}

@media (max-width:414px) {

  .topInfo {
   padding: 30px;
  }

}